{{!--

  You should write a Handlebars template here to generate a complete todo
  note.  Remember the structure of the todo note from our previous assignments:

  <section class="todo">
    <h2>The header for the todo note goes here (the what value)</h2>
    <div class="todo-body">
      <p class="indent-wrapped"><span class="where">where: </span>some value</p>
      <p class="indent-wrapped"><span class="when">when: </span>some value</p>
      <p class="indent-wrapped"><span class="who">who: </span>some value</p>
      <p>the details go here</p>
    </div>
    <div class="dismiss-button">&times;</div>
  </section>

  The where, when, and who fields and the details are only included if a value
  is supplied.  Refer to the notes data in users-data.json to know how the
  provided data will be structured.

  A start for the note template is given to you below.

  --}}

  <div id="body">
      <!-- <div id="content"> -->
        <div class="person">
              {{dialogText}}
 
            <span>&nbsp;</span>


        </div>

        <button class="button" style="vertical-align:middle"><span>
            <a href="\dialog1.html">
                Go towards the town
            </a>
         </span></button>
         <button class="button" style="vertical-align:middle"><span>
             <a href="\dialog2.html">
                 Go towards the farm
             </a>
         </span></button>
         <button class="button" style="vertical-align:middle"><span>  <a href="\dialog3.html">Go towards the forest</a>
             </span></button>
      <!-- </div> -->
  </div>
