body {
    margin:0;
    padding:0;

    background:transparent url("images/dragon header.jpg");
    background-color:#000000;
    background-repeat:no-repeat;
    background-position:top center;
}

a {
  outline:0;
}
img {
  border:0;
}
img {
  opacity:1;

  filter:alpha(opacity=100);/*Needed for IE8 and old versions*/
}

#logo:hover {
	opacity:0.8;

	filter:alpha(opacity=80);/* Needed for IE8 and old versions */
}
#page {
	width:100%;

	background:transparent url("images/Fire Footer.jpg");
	background-repeat:no-repeat;
	background-position:bottom center;
}
#page div#header {
	position:relative;

	overflow:hidden;

	width:950px;
	height:275px;
	margin:0 auto;
  padding-bottom: 170px

	text-align:center;
}
#page div#header #logo {
	position:relative;
	top:75px;

  background-color: transparent;

}
#page div#header ul.navigation {
	position:relative;
	top:180px;
	left:0;

	height:90px;
	margin:0;

	list-style-type:none;

	background:transparent url("images/navigation.png");
	background-repeat:no-repeat;
	background-position:center center;
}
#page div#header ul.navigation li {
	float:left;

	text-align:center;

	line-height:90px;
}
#page div#header ul.navigation li.first {
	margin:0 auto;
}
#page div#header ul.navigation li a {
	display:block;

	padding:0 105px;

	text-decoration:none;
	text-transform:uppercase;

	color:#311a0b;
    background-color: transparent;
	text-shadow:0 1px 0 #e5c288;

	font-family:Volkhov;
	font-size:20px;
	font-weight:normal;
}
#page div#header ul.navigation li a:hover {
	padding:0 105px;

	text-decoration:none;
	text-transform:uppercase;

	color:#ffffff;
	background-repeat:no-repeat;
	background-position:center center;
	text-shadow:0 1px 0 #e5c288;

	font-family:Volkhov;
	font-size:20px;
	font-weight:normal;
}
#page div#header ul.navigation li a.active {
	padding:0 105px;

	text-decoration:none;
	text-transform:uppercase;

	color:#ffffff;
	background-repeat:no-repeat;
	background-position:center center;
	text-shadow:0 1px 0 #e5c288;

	font-family:Volkhov;
	font-size:20px;
	font-weight:normal;
}
#page #body {
	overflow:hidden;

	width:888px;
	margin:0 auto;
	padding:10px 0;
}
#page #body div.featured {
	position:relative;

	width:884px;
	height:380px;
	margin:0 0 25px 0;
	padding:2px;

	background:transparent url("images/bg-featured.png");
	background-repeat:no-repeat;
	background-position:center center;
}
#page #body div.featured img {
	opacity:100;
}
#page #body div.featured span {
	position:absolute;
	top:-10px;
	left:442px;

	width:21px;
	height:404px;

	background-repeat:no-repeat;
	background-position:center center;
}
#page #body div.featured div.section {
	position:absolute;
	top:20px;
	left:20px;

	width:376px;
	height:298px;
	padding:25px;

	background:transparent url("images/bg-featured-text-content.png");
	background-repeat:no-repeat;
	background-position:center center;
}
#page #body div.featured div.section h2  {
	height:32px;
	margin:0;

	color:#fbc316;

	font-family:Volkhov;
	font-size:27px;
	font-weight:normal;
	line-height:32px;
}
#page #body div.featured div.section h2 a {
	display:block;

	margin:0;

	text-align:center;
	text-decoration:none;
	text-transform:uppercase;

	color:#fbc316;
	text-shadow:2px 2px 5px #120c0b;

	font-family:Volkhov;
	font-size:27px;
	font-weight:normal;
}
#page #body div.featured div.section p {
	margin-bottom:17px;

	text-align:justify;

	color:#ffffff;

	font-family:Georgia;
	font-size:14px;
	line-height:24px;
}
#page #body div.featured div.section p a {
	text-align:justify;
	text-decoration:none;

	color:#ffffff;

	font-family:Georgia;
	font-size:14px;
	font-style:italic;
	line-height:24px;
}
#page #body div.featured div.section p a:hover {
	text-align:justify;
	text-decoration:none;

	color:#ffffff;

	font-family:Georgia;
	font-size:14px;
	line-height:24px;
}
#page #body div.featured div.section a.Play {
	display:block;

	width:238px;
	height:92px;
	margin:0 auto;

	text-decoration:none;

	background:url("images/button Play.png");
}
#page #body div.featured div.section a.Play:hover {
	background:url("images/button Play.png");
}

#page #body div.featured div.section a.createGame {
	display:block;

	width:214px;
	height:92px;
	margin:0 auto;

	text-decoration:none;

	background:url("images/button createGame.png");
}
#page #body div.featured div.section a.createGame:hover {
	background:url("images/button createGame.png");
}

a.Play:active {
  transform: translateY(4px);

  background-color: inherit;
}

#page #body div#content {
	float:left;

	width:630px;
	margin:0 36px 0 0;
}
#page #body div#content p {
	margin-bottom:25px;

	text-align:justify;

	color:#9e8934;

	font-family:Georgia;
	font-size:14px;
	line-height:24px;
}
#page #body div#content p a {
	text-align:justify;

	color:#9e8934;

	font-family:Georgia;
	font-size:14px;
	line-height:24px;
}
#page #body div#content p a:hover {
	text-align:justify;
	text-decoration:none;

	color:#9e8934;

	font-family:Georgia;
	font-size:14px;
	line-height:24px;
}
#page #body div#content img {
	margin:15px 0 0 0;
}
#page #body div#content ul {
	margin:30px 0 0 0;
	padding:0;

	list-style-type:none;
}
#page #body div#content ul li h2 {
	color:#fddb53;

	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	font-style:Italic;
}
#page #body div#content ul li h2 a {
	text-decoration:none;

	color:#fddb53;

	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	font-style:Italic;
}
#page #body div#content ul li h2 a:hover {
	text-decoration:none;

	color:#b8b6b6;

	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	font-style:Italic;
}
#page #body div#content ul li p {
	margin:0 0 30px 0;

	color:#b8b6b6;

	font-family:Georgia;
	font-size:14px;
}
#page #body div#content ul li p a {
	color:#fdd848;

	font-family:Georgia;
	font-size:14px;
}
#page #body div#content ul li p a:hover {
	text-decoration:none;

	color:#fdd848;

	font-family:Georgia;
	font-size:14px;
}
#page #body div.content {
	width:888px;
	margin:0 auto;
}
#page #body div.content ul {
	margin:0;
	padding:0;

	list-style-type:none;
}
#page #body div.content ul li {
	position:relative;

	display:block;
}
#page #body div.content ul li div h2 {
	margin:20px 0 30px 0;

	color:#fddb53;

	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
}
#page #body div.content ul li div h2 a {
	text-decoration:none;

	color:#fddb53;

	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
}
#page #body div.content ul li div h2 a:hover {
	text-decoration:none;

	color:#b8b6b6;

	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
}
#page #body div.content ul li div {
	position:absolute;
	top:0;
	left:0;

	width:630px;
}
#page #body div.content ul li div p {
	float:none;

	margin:0 0 30px 0;

	text-align:justify;

	color:#b8b6b6;

	font-family:Georgia;
	font-size:14px;
	line-height:24px;

}
#page #body div.content ul li div p a {
	width:630px;

	color:#b8b6b6;

	font-family:Georgia;
	font-size:14px;
	line-height:24px;
}
#page #body div.content ul li div p a:hover {
	width:630px;

	text-decoration:none;

	color:#fddb53;

	font-family:Georgia;
	font-size:14px;
	line-height:24px;
}
#page #body div.content ul li img {
	position:relative;
	top:0px;

	float:right;

	margin:30px 0 0 0;

	z-home:1;
}
#page #body div.content ul li div a.Play {
	display:block;

	width:222px;
	height:66px;
	margin:25px 0 15px 0;

	text-decoration:none;

	background:url("images/button Play.png");
}
#page #body div.content ul li div a.Play:hover {
	background:url("images/button Play.png");
}
#page #body div.content ul li div a.createGame {
	display:block;

	width:222px;
	height:66px;
	margin:25px 0 15px 0;

	text-decoration:none;

	background:url("images/button createGame.png");
}
#page #body div.content ul li div a.createGame:hover {
	background:url("images/button createGame.png");
}
#page #body div.content ul.blog {
	overflow:hidden;

	width:888px;
	height:auto;
	margin:30px 0 0 0;
	padding:0;

	list-style-type:none;
}
#page #body div.content ul.blog li {
	display:block;
	overflow:hidden;

	width:888px;
	height:auto;
	margin:0 0 30px 0;
}
#page #body div.content ul.blog li h2 {
	margin:0;

	color:#fddb53;

	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
}
#page #body div.content ul.blog li h2 a {
	text-decoration:none;

	color:#fddb53;

	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
}
#page #body div.content ul.blog li h2 a:hover {
	text-decoration:none;

	color:#b8b6b6;

	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
}
#page #body div.content ul.blog li img {
	float:left;

	margin:0 20px 0 0;

	border-width:2px;
	border-style:solid;
	border-color:#4b3f01;
}
#page #body div.content ul.blog li p {
	margin:0;

	color:#b8b6b6;

	font-family:Georgia;
	font-size:14px;
	line-height:24px;
}
#page #body div.content ul.blog li p a {
	color:#b8b6b6;

	font-family:Georgia;
	font-size:14px;
}
#page #body div.content ul.blog li p a:hover {
	text-decoration:none;

	color:#b8b6b6;

	font-family:Georgia;
	font-size:14px;
}
#page #body div.content ul.blog li a.Play {
	display:block;

	margin:30px 0 0 0;

	color:#ff3f3f;

	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
}
#page #body div.content ul.blog li a.Play:hover {
	color:#ff9e3f;

	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
}
#page #body div.content ul.blog li a.createGame {
	display:block;

	margin:30px 0 0 0;

	color:#ff3f3f;

	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
}
#page #body div.content ul.blog li a.createGame:hover {
	color:#ff9e3f;

	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
}
#page #body div.content ul.pagination {
	overflow:hidden;

	margin:30px 150px 30px 170px;
	padding:0;

	list-style-type:none;
}
#page #body div.content ul.pagination li {
	float:left;
}
#page #body div.content ul.pagination li a {
	padding:0 5px;

	text-decoration:none;

	color:#373837;

	font-family:Arial;
	font-size:12px;
}
#page #body div.content ul.pagination li a:hover {
	padding:0 5px;

	text-decoration:none;

	color:#565756;

	font-family:Arial;
	font-size:12px;
}
#page #footer {
	overflow:hidden;

	width:888px;
	margin:0 auto;
}
#page #footer ul {
	overflow:hidden;

	margin:20px 0 170px 0;
	padding:0;

	list-style-type:none;
}
#page #footer ul li {
	float:left;

	width:262px;
	margin:0 50px 0 0;
}
#page #footer ul li.last {
	margin:0;
}
#page #footer ul li a {
	display:block;
}
#page #footer ul li p {
	text-align:justify;

	color:#a42a16;

	font-family:Georgia;
	font-size:14px;
	line-height:24px;
}
#page #footer ul li p a {
	display:inline;

	text-align:justify;
	text-decoration:none;

	color:#a42a16;

	font-family:Georgia;
	font-size:14px;
	line-height:24px;
}
#page #footer ul li p a:hover {
	display:inline;

	text-align:justify;
	text-decoration:none;

	color:#a42a16;

	font-family:Georgia;
	font-size:14px;
	line-height:24px;
}
#page #footer ul li p a:hover {
	display:inline;
}
#page #footer span {
	display:block;

	margin:0 0 65px 0;

	text-align:center;

	color:#ffffff;

	font-family:"Trebuchet MS";
	font-size:10px;
}
#page #footer span a {
	text-decoration:none;

	color:#ffffff;
  background-color: transparent;

	font-family:"Trebuchet MS";
}
#page #footer span a:hover {
	text-decoration:underline;

	color:#ffffff;

	font-family:"Trebuchet MS";
}






main {
  display: inline-flex;

  min-height: 300px;
  padding: 20px 20px 100px 20px;

  flex-wrap: wrap;
}

.sectionAbout{
    position: relative;
}


.group{
    margin-top: 20px;
    margin-bottom: 30px;
}

h2{
    display: block;

    margin: 0;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #fbc316;
    text-shadow: 2px 2px 5px #120c0b;

    font-family: Volkhov;
    font-size: 27px;
    font-weight: normal;
}


.content {
  min-height: 300px;
  padding: 20px 20px 100px 20px;

  flex-wrap: wrap;
}

.aboutUs{
    position: relative;

    display: inline-block;
    float: left;

    width: 300px;
    min-height: 600px;
    margin-right: 10px;

    text-align: center;
    word-wrap: break-word;

    border: #fbc316;
    border-style: solid;

    font-size: 24px;
    font-weight: 200;
}

.aboutUsContent{
    margin: 10px;
}


#links{
    position: absolute;
    bottom: 0;
}

#links a{
    text-decoration: none;

    color: #fbc316;
    background-color: rgba(0, 0, 0);
}

a {
  text-decoration: none;

  font-weight: 200;
}

a:hover {
  background-color: #dedede;
}

.info,
.person,
.person-photo-container {
  margin: 20px;
  padding: 20px;

  border: 3px solid #333;
  border-radius: 10px;
  background-color: #fff;
}

.person-photo-container {
  text-align: center;
}

.person-photo {
  max-width: 100%;
}

.info p,
.person p {
  margin: 0;
}

.highlight {
  background-color: #8eb35f;
}

.highlight a:hover {
  background-color: #b4cb98;
}

.error-message {
  margin: 20px;

  text-align: center;

  color: white;

  font-size: 32px;
}




#modal-backdrop {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.85);
}


.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  min-width: 350px;
  max-width: 600px;
  min-height: 300px;
  margin: 40px auto;

  border-radius: 15px;
  background-color: #fff;
}

.modal-header {
  position: relative;

  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;

  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  top: 5px;
  right: 10px;

  padding: 0;

  cursor: pointer;

  border: none;
  background: none;

  font-size: 24px;
}

.modal-body {
  padding: 20px;
}

.photo-input-element {
  display: flex;

  margin: 10px 0;

  font-size: 20px;

  align-items: center;
}

.photo-input-element label {
  margin-right: 10px;

  font-weight: 600;

  flex: 1 75px;
}

.photo-input-element input,
.photo-input-element textarea {
  padding: 8px;

  border: 1px solid #aaa;

  font-size: 20px;

  flex: 6 200px;
}

.photo-input-element textarea {
  min-height: 64px;
}

.modal-footer {
  display: flex;

  padding: 10px 10px 20px 10px;

  justify-content: flex-end;
}

.modal-footer button {
  margin-right: 20px;
  padding: 10px;

  cursor: pointer;

  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;

  font-size: 20px;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  color: #fff;
  background-color: #2464f5;
}

.modal-footer .modal-accept-button:hover {
  background-color: #5481e4;
}

#page #body div.endingBox {
  width: 888px;
  height: 653px;
  margin:0;
  padding:0;

  background:transparent url("images/Ending-background.jpg");
  background-color:#000000;
  background-repeat:no-repeat;
  background-position:top center;
}

#page #body div.endingBox h2 {
	height:32px;
  margin:0;

	color:#fbc316;

	font-family:Volkhov;
	font-size:27px;
	font-weight:normal;
	line-height:32px;
}

#page #body div.endingBox p {
margin-right: 67px;
margin-bottom:17px;
margin-left: 55px;

text-align:justify;

color:#ffffff;
text-shadow: 2px 2px 5px #120c0b

font-family:Georgia;
font-size:17px;
line-height:24px;
}

.para{
    margin: 10px;
}

.title{
    text-align: center;

    font-size: 25px;
}

.person{
    margin-bottom:25px;

    text-align:justify;

    color:#9e8934;

    font-family:Georgia;
    font-size:18px;
    line-height:24px;
}

.death{
    max-width: 20%;
    margin-left: 350px;
}

.button {
  display: inline-block;
  float: right;

  width: 860px;
    margin: 20px;
  margin: 5px;
  padding: 20px;
    padding: 20px;

  cursor: pointer;
  transition: all 0.5s;
  text-align: center;

  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  background-color: #9e8934;

  font-size: 28px;
}

.button span {
  position: relative;

  display: inline-block;

  cursor: pointer;
  transition: 0.5s;
}

.button span:after {
  position: absolute;
  top: 0;
  right: -20px;

  content: '»';
  transition: 0.5s;

  opacity: 0;
}

.button a{
    color: white;
    background: transparent;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  right: 0;

  opacity: 1;
}
